$desktop-padding: 33px;

@font-face {
  font-family: 'W95FA';
  src:
    url('../../public/assets/fonts/w95fa.woff2') format('woff2'),
    url('../../public/assets/fonts/w95fa.woff') format('woff'); // optional fallback
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'W95FA', Arial, Helvetica, sans-serif;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  font-smooth: never;
}

body {
  color: black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #008282;

  div.desktop {
    width: 100%;
    height: calc(100% - (2 * $desktop-padding));

    &__icons {
      padding: $desktop-padding;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
