@font-face {
  font-family: 'W95FA';
  src:
    url('../../public/assets/fonts/w95fa.woff2') format('woff2'),
    url('../../public/assets/fonts/w95fa.woff') format('woff'); /* Optional fallback */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'W95FA', Arial, Helvetica, sans-serif;
}

body {
  color: black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #008282;

  div.desktop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
