@use '../../styles/globals.scss' as *;

.taskbar {
  width: 100%;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #c3c3c3;
  padding: 6px;
  border-top: $border-1;
  border-left: $border-1;

  &__start-btn-label {
    line-height: 0.9;
  }
}
