.taskbar {
  width: 100%;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #c3c3c3;
  padding: 6px;
  border-top: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;

  &__start-btn-label {
    line-height: 0.9;
  }
}
