@use '../../styles/globals.scss' as *;

.taskbar {
  --window-frame: #0a0a0a;
  --button-highlight: #ffffff;
  --button-face: #dfdfdf;
  --button-shadow: #808080;
  --text-color: #222222;
  --border-sunken-outer:
    inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame);
  --border-sunken-inner:
    inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);
  background-color: #c3c3c3;
  // TODO: Figure out if I want this to be 2px or 3px
  padding: 3px;
  border-top: $border-1;
  border-left: $border-1;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;

  &__container {
    z-index: 5000;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  button {
    height: fit-content;
    font-weight: 700;
    font-size: 0.85rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 2px 4px;
    white-space: nowrap;
  }

  &__start-btn-and-windows {
    width: 100%;
    display: flex;
    gap: 4px;
  }

  &__start-btn {
    min-width: fit-content;

    &.active {
      box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
      text-shadow: 1px 1px var(--text-color);
    }
  }

  &__window-btn {
    flex-basis: 150px; /* Default starting width of each element */
    flex-shrink: 1; /* Allows the element to shrink when space is limited */
    overflow: clip;
    text-overflow: ellipsis;

    span {
      display: flex;
      align-items: center;
    }

    &:focus {
      outline: none;
    }
    &:active {
      span {
        color: transparent !important;
        font-weight: bold !important;
      }
    }

    &.active {
      background: url('../../../public/assets/images/checker.png') repeat !important;
      image-rendering: pixelated;
      box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    }
    &--label.active {
      color: transparent;
      font-weight: bold !important;
      text-shadow: 1px 1px var(--text-color);
    }
  }

  &__divider {
    border-left: 1px solid var(--button-shadow);
    border-right: 1px solid var(--button-highlight);
  }

  &__time {
    box-shadow:
      inset -1px -1px #f0f0f0,
      inset 1px 1px #7e7e7e;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    white-space: nowrap;
    gap: 8px;

    span {
      height: min-content;
      display: flex;
      align-items: center;
    }
  }
}
