.taskbar {
  width: 100%;
  height: fit-content;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #c3c3c3;
  padding: 6px;
  border-top: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;

  &__start-btn {
    background-color: #c3c3c3;
    width: fit-content;
    padding: 0;
    border-top: 1px solid #f0f0f0;
    border-right: 1px solid #262626;
    border-bottom: 1px solid #262626;
    border-left: 1px solid #f0f0f0;

    div {
      display: flex;
      justify-content: flex-start;
      gap: 11;
      padding: 6px 8px 6px 8px;
      border-top: 1px solid #b1b1b1;
      border-right: 1px solid #7e7e7e;
      border-bottom: 1px solid #7e7e7e;
      border-left: 1px solid #b1b1b1;
    }
  }
}
