.button {
  background-color: #c3c3c3;
  width: fit-content;
  padding: 0;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;
  border-left: 1px solid #f0f0f0;

  div {
    display: flex;
    justify-content: flex-start;
    gap: 11;
    padding: 6px 8px 6px 8px;
    border-top: 1px solid #b1b1b1;
    border-right: 1px solid #7e7e7e;
    border-bottom: 1px solid #7e7e7e;
    border-left: 1px solid #b1b1b1;
  }

  .x {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.125em !important;
    width: 1em;
    height: 1em;
  }
}
