$bg-color-1: #c3c3c3;
$bg-color-2: #e3e3e3;
$border-1: 2px solid #f0f0f0;
$border-2: 2px solid #262626;
$border-3: 2px solid #b1b1b1;
$border-4: 2px solid #7e7e7e;
$border-5: 2px solid #ffffff;

@mixin border-outer {
  border-top: $border-1;
  border-right: $border-2;
  border-bottom: $border-2;
  border-left: $border-1;
}

@mixin border-inner {
  border-top: $border-3;
  border-right: $border-4;
  border-bottom: $border-4;
  border-left: $border-3;
}

@mixin active-border-outer {
  border-top: $border-2;
  border-right: $border-1;
  border-bottom: $border-1;
  border-left: $border-2;
}

@mixin active-border-inner {
  border-top: $border-4;
  border-right: $border-3;
  border-bottom: $border-3;
  border-left: $border-4;
}

button.button {
  @include border-outer;
  background-color: $bg-color-1;
  width: fit-content;

  &.x {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 32px;
    height: 32px;

    .button__container {
      &--wrapper {
        border: none;
      }
    }
  }

  &.active,
  &:active {
    background-color: $bg-color-2;
    @include active-border-outer;

    .button__container {
      @include active-border-inner;

      &--wrapper {
        border-top: $border-5;

        div {
          border: 1px dashed #000000;
        }
      }
    }
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    gap: 11;
    padding: 0;
    @include border-inner;

    &--wrapper {
      border-top: 2px solid $bg-color-1;

      div {
        margin: 2px;
        border: 1px solid $bg-color-1;
        padding: 2px 2px 0 2px;
      }
    }
  }
}
