@use '../../styles/globals.scss' as *;

.button {
  @include border-outer;
  background-color: $bg-color-1;
  width: fit-content;
  padding: 0;

  &__container {
    display: flex;
    justify-content: flex-start;
    gap: 11;
    padding: 0;
    @include border-inner;

    &--wrapper {
      border-top: 2px solid $bg-color-1;

      div {
        margin: 2px;
        border: 1px solid $bg-color-1;
        padding: 2px 2px 0 2px;
      }
    }
  }

  &.active {
    background-color: $bg-color-2;
  }

  &.active,
  &:active {
    @include active-border-outer;

    .button__container {
      @include active-border-inner;

      &--wrapper {
        border-top: $border-5;

        div {
          border: 1px dashed #000000;
        }
      }
    }
  }

  &.x {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    width: 32px;
    height: 32px;

    .button__container {
      border: none;
      &--wrapper {
        border: none;
      }
    }
  }
}
