@mixin border-outer {
  border-top: 2px solid #f0f0f0;
  border-right: 2px solid #262626;
  border-bottom: 2px solid #262626;
  border-left: 2px solid #f0f0f0;
}

@mixin border-inner {
  border-top: 2px solid #b1b1b1;
  border-right: 2px solid #7e7e7e;
  border-bottom: 2px solid #7e7e7e;
  border-left: 2px solid #b1b1b1;
}

.button {
  background-color: #c3c3c3;
  width: fit-content;
  padding: 0;
  @include border-outer;

  &__container {
    display: flex;
    justify-content: flex-start;
    gap: 11;
    padding: 6px 8px 6px 8px;
    @include border-inner;
  }

  .x {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.125em !important;
    width: 1em;
    height: 1em;
    font-size: 13px;
  }
}
