.title-bar {
  width: 100%;
  height: 66px;
  background-color: #c3c3c3;
  border: 2px outset #c3c3c3;
  padding: 6px;
  margin: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  color: #ffffff;

  &__icon-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__icon {
  }

  &__title {
  }

  &__x {
  }
}
