.title-bar {
  width: 100%;
  background-color: #9447ed;
  border: 2px solid #25374d;
  border-radius: 5px;
  padding: 6px;
  margin: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  color: #ffffff;

  &__icon-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__icon {
  }

  &__title {
  }

  &__x {
  }
}
