$title-bar-padding: 4px;
$title-bar-margin-right: 2px;

.title-bar {
  padding-left: $title-bar-padding;
  padding-right: $title-bar-padding;
  width: calc(
    100% - (2 * $title-bar-padding) - (0.5 * $title-bar-margin-right)
  );
  height: fit-content;
  max-height: 32px;
  background-color: #02007f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  margin-right: $title-bar-margin-right;

  &__icon-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3px;
  }
}
