$title-bar-padding: 6px;

.title-bar {
  padding: $title-bar-padding;
  width: calc(100% - (2 * $title-bar-padding));
  height: fit-content;
  max-height: 32px;
  background-color: #02007f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: #ffffff;

  &__icon-title {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__icon {
  }

  &__title {
  }

  &__x {
  }
}
