$title-bar-padding: 4px;
$title-bar-margin-right: 2px;

.title-bar {
  padding-left: $title-bar-padding;
  padding-right: $title-bar-padding;
  width: 100%;
  height: 42px;
  background: linear-gradient(270deg, #1085d2 0%, #00007b 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  &__icon-title {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  &__title {
    font-size: 28px;
    display: flex;
    align-items: flex-end;
    color: #ffffff;
  }
}
