.window {
  background-color: #c3c3c3;
  width: fit-content;
  max-width: 600px;
  border-top: 1px solid #f0f0f0;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #262626;
  border-bottom: 1px solid #262626;

  &__inner {
    border-top: 1px solid #c3c3c3;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #7e7e7e;
    border-bottom: 1px solid #7e7e7e;
  }

  &__content {
    padding: 14px;
  }
}
