@use '../../styles/globals.scss' as *;

$window-bg: #c0c0c0;

.window-popup {
  // TODO: Fix this so I don't need all these importants
  box-sizing: border-box !important;
  max-width: 600px !important;
  display: flex !important;
  flex-direction: column !important;

  .title-bar {
    padding-top: 2px;
    padding-bottom: 2px;
    background: linear-gradient(90deg, rgb(169, 39, 255), rgb(62, 175, 255));

    &.inactive {
      background: linear-gradient(90deg, gray, #b5b5b5);
    }
  }

  .title-bar-text {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    font-weight: 400;
  }

  .menus {
    background: $window-bg;
    color: #000000;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
  }

  .menu-button {
    box-sizing: border-box;
    padding: 5px 7px;
    background: $window-bg;
  }

  .menu-hotkey {
    text-decoration: underline;
  }

  &.active {
    z-index: 100;
  }

  > .window-body {
    // TODO: Change this when maximize functionality is implemented
    // max-height: 75dvh;
    flex: 1 1 0;
    min-height: 0; // critical — without this, flex children won't shrink below content size
    overflow-y: auto; // keep scrolling within the body
  }

  .window-body.notepad-container {
    overflow: scroll;
  }

  .window-body.phone-container {
    width: fit-content;
  }

  .window-body.notepad-container,
  .window-body.briefcase-container,
  .window-body.skills-container,
  .window-body.folder-container,
  .window-body.wanderlist-container,
  .window-body.regex-spaceship-container,
  .window-body.blog-container,
  .window-body.forgotten-forest-container,
  .window-body.phone-container {
    margin: 0;
  }
}
