@use '../../styles/globals.scss' as *;

$window-bg: #c0c0c0;

.window-popup {
  box-sizing: border-box;
  width: fit-content;
  min-width: 350px;
  max-width: 600px;
  position: absolute;
  top: 15vh;
  left: 5vw;

  .title-bar {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .title-bar-text {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    font-weight: 400;
  }

  .menus {
    background: $window-bg;
    color: #000000;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
  }

  .menu-button {
    box-sizing: border-box;
    padding: 5px 7px;
    background: $window-bg;
  }

  .menu-hotkey {
    text-decoration: underline;
  }

  &.active {
    z-index: 100;
  }

  > .window-body {
    // TODO: Change this when maximize functionality is implemented
    max-height: 75vh;
    overflow-y: auto;
  }

  .window-body.notepad-container {
    overflow: scroll;
  }

  .window-body.phone-container {
    width: fit-content;
  }

  .window-body.notepad-container,
  .window-body.briefcase-container,
  .window-body.skills-container {
    margin: 0;
  }
}
