.window {
  background-color: #c3c3c3;
  width: fit-content;
  min-width: 350px;
  max-width: 600px;
  border-top: 2px solid #f0f0f0;
  border-left: 2px solid #f0f0f0;
  border-right: 2px solid #262626;
  border-bottom: 2px solid #262626;
  position: absolute;
  top: 33vh;
  left: calc(50vw - (350px / 2));

  &__inner {
    border-top: 2px solid #c3c3c3;
    border-left: 2px solid #c3c3c3;
    border-right: 2px solid #7e7e7e;
    border-bottom: 2px solid #7e7e7e;
  }

  &__content {
    padding: 14px;
  }
}
