@use '../../styles/globals.scss' as *;

.window {
  @include border-outer;
  background-color: #c3c3c3;
  width: fit-content;
  min-width: 350px;
  max-width: 600px;
  position: absolute;
  top: 33vh;
  left: calc(50vw - (350px / 2));

  &__inner {
    @include border-inner;
  }

  &__content {
    padding: 14px;
  }
}
