@use '../../styles/globals.scss' as *;

.start-menu {
  width: fit-content;
  padding: 2px;

  &__body {
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  &__banner {
    padding: 5px;
    background: linear-gradient(0deg, #000080, #0000ee);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    rotate: 180deg;
  }

  &__programs {
    padding: 5px;
  }
}
