@use '../../styles/globals.scss' as *;

.start-menu {
  width: 250px;
  padding: 2px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: fit-content;
  }

  &__body {
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  &__banner {
    background: linear-gradient(0deg, #000080, #0000ee);
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px;
    rotate: 180deg;
    text-orientation: sideways;
    writing-mode: vertical-lr;
    letter-spacing: 1px;

    &--last-name {
      color: #ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.5rem;
      font-weight: 100;
      -webkit-text-stroke: 1px #000080; /* Must match your background color */
      letter-spacing: 1px;
    }
  }

  &__programs {
    width: 100%;
    display: flex;
    flex-direction: column;

    &--program {
      flex: 1; // each item grows equally to fill available height
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.active {
        color: #ffffff;
        background-color: #000080;

        div {
          color: #ffffff;
        }
      }

      &:hover {
        color: #ffffff;
        background-color: #000080;

        div {
          color: #ffffff;
        }
      }
    }

    &--arrow {
      font-size: 0.5rem;
    }

    &--icon-and-name {
      display: flex;
      align-items: center;
      gap: 20px; // space between icon and name
    }
  }

  &__hovered-menu {
    width: 200px;

    &--programs {
      width: 100%;
      display: flex;
      flex-direction: column;

      &--program {
        flex: 1; // each item grows equally to fill available height
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          color: #ffffff;
          background-color: #000080;

          div {
            color: #ffffff;
          }
        }
      }

      &--icon-and-name {
        display: flex;
        align-items: center;
        gap: 10px; // space between icon and name
      }
    }
  }
}
